/Source/SDK_Interface/SDK_Interface/SDK_Interface/obj
/Source/SDK_Interface/SDK_Interface/.vs
/Source/Intergrated_Employee_Service/Synchepad/Synchepad/obj
/Source/Intergrated_Employee_Service/Synchepad/Synchepad/bin
/Source/Intergrated_Employee_Service/Synchepad/.vs
/Source/Service_Management_Tool/Service_Management/Service_Management/bin
/Source/Service_Management_Tool/Service_Management/Service_Management/obj
/Source/Intergrated_Employee_Service/Intergrated_Employee_Service/bin
/Source/Intergrated_Employee_Service/Intergrated_Employee_Service/obj
/Source/Intergrated_Employee_Service/.vs
/Source/Intergrated_Employee_Service/packages
/Source/PUSH_Interface/PUSH_Interface_Api/PUSH_Interface_Api/bin
/Source/PUSH_Interface/PUSH_Interface_Api/PUSH_Interface_Api/obj
/Source/SDK_Interface/SDK_Interface/SDK_Interface/bin
/Source/WebSite/epad1/node_modules
/Source/Service_Management_Tool/Service_Management/.vs
/Source/SDK_Interface/SDK_Interface/packages
/Source/PUSH_Interface/PUSH_Interface_Api/.cr
/Source/PUSH_Interface/PUSH_Interface_Api/.vs
/Source/PUSH_Interface/PUSH_Interface_Api/packages
/Source/PUSH_Interface_Core/PUSH_Interface_Core/.vs/PUSH_Interface_Core/v15/Server/sqlite3/db.lock
/Source/PUSH_Interface_Core/PUSH_Interface_Core/.vs
/Source/PUSH_Interface_Core/PUSH_Interface_Core/bin
/Source/PUSH_Interface_Core/PUSH_Interface_Core/obj
bin
obj
Debug
packages
.vs
*.csproj.user
/Source/Intergrated_Employee_Service/Intergrated_Employee_Service/Connected Services
Source/WebSite/EPAD_BackendCore/EPAD_Backend_Core/EPAD_Backend_Core/log
Source/WebSite/EPAD_BackendCore/EPAD_Backend_Core/EPAD_Backend_Core/Properties/PublishProfiles/FolderProfile.pubxml.user
Source/IntegrateLogRealtime_API/IntegrateLogRealtime_API/.config
Source/IntegrateLogRealtime_API/IntegrateLogRealtime_API/log
Source/WebSite/EPAD_BackendCore/EPAD_Backend_Core/EPAD_Backend_Core/Properties
Source/WebSite/EPAD_BackendCore/EPAD_Backend_Core/EPAD_Backend_Core/Files/Temp
Source/WebSite/EPAD_BackendCore/EPAD_Backend_Core/EPAD_Backend_Core/Properties/PublishProfiles/FolderProfile1.pubxml.user
/**/appsettings.Development.json
